button {
  border-radius: .5rem;
  padding: 0.625rem 1.7rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: Inter, sans-serif;
}

button.plain {

}

button.outer {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: 400;
}
