.center {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(50vw - 500px);
  box-sizing: border-box;
}

.logo {
  width: 225px;
  height: 130px;
  padding: 50px 0;
}

.logo.tablet {
  width: 412px;
  height: 238px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.button-wrapper.tablet {
  flex-direction: row;
  gap: 0;
}
